section.filters {
background-color: #FFFFFF;
height: 70px;
width: 100%;
border: 1px #DDDDDD solid;
border-radius: 1px;
}
section.filters button {
font-size: 18px;
color: #FFFFFF;
background-color: #FF5A5F;
height: 48px;
width: 20%;
border: none;
border-radius: 4px;
text-align: center;
margin-top: 8px;
margin-right: 30px;
float: right;
}
section.filters button:hover {
opacity: 90%;
}